{% extends 'base.html' %}

{% block title %}Entrar - CineVerso{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card bg-dark border-secondary">
            <div class="card-header">
                <h2 class="mb-0" style="text-align: center;">Login do Cine</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <p>Usuário ou senha incorretos. Arrume isso ai!!</p>
                    </div>
                    {% endif %}
                    
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Nome de usuário</label>
                        <input type="text" name="username" class="form-control" id="id_username" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Senha</label>
                        <input type="password" name="password" class="form-control" id="id_password" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}